body{
    color:green;
    background-image:url(https://wallpaperaccess.com/full/1567846.jpg);
}

.bold{
    width: 60%;
    color:rgb(97, 6, 89);
    font-size: 20px;
    font-family: algerian;
     }

#camera{
    width: 350px;
    height: 300px;
    border: 3px dotted rgb(155, 9, 147);
    }

#result_object_name,#result_object_accuracy{
    color: rgb(71, 13, 95);
    font-size:20px;
}

